.footer {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  .informacion {
    //  Hacemos que la información de contacto sea una fila entera
    grid-column: 1/-1;

    .sobre__nosotros {
      @include marginLeftRight(10%);
      color: rgb(0, 0, 0);
      h1 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
  }

  .logo {
    align-items: center;
    text-align: center;
    padding: 0.5em 0.5em;
  }

  .num__page {
    a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 0.5em 0.5em;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      transition: border-bottom 400ms;
    }

    a:hover {
      border-bottom: 5px solid #012f4cc9;
      padding-bottom: 3px;
    }
  }

  .redes__sociales {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 0.5em 0.5em;
  }
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
