@use "sass:map";

.name__band {
  background: url("../images/GrupoDeMusicaSinFondo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 50%;
  text-align: center;
}

.name__band > h1 {
  font-family: map.get($font-family, "times-new-roman");
}

.name__band > h2 {
  font-family: map.get($font-family, "georgia");
}

@media only screen and (max-width: 390px) {
  .name__band {
    padding-top: 70%;
  }
}

// .name__band {
//   background: url("../images/GrupoDeMusicaSinFondo.png");
//   background-repeat: no-repeat;
//   // background-attachment: fixed;
//   // background-size: cover;
//   background-size: contain;
//   background-position: center;
//   padding-top: 50%;
//   text-align: center;
//   h1 {
//     font-family: "Times New Roman", Times, serif;
//   }
//   h2 {
//     font-family: cursive;
//   }
// }
