@mixin flexJustifyWrapGap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

@mixin marginLeftRight($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin responsiveImagen {
  width: 100%;
  height: auto;
}

@function tamImage($sice, $divisor) {
  $restult: $sice/ $divisor;
  @return $restult;
}
